.landing-page {
	background-color: #161616;
	width: 100%;
	color:#fff;
	padding-top: 150px;
	display: flex;
	justify-content: center;
}

.lineup-page{
	background-color: #161616;
	width: 100%;
	color:#fff;
	display: flex;
	justify-content: center;
}

.landing-page .wrapper {
	width: 40%;
	min-width: 300px;
	margin-bottom: 150px;
}

.landing-page .title {
	height: 100px;
	display: flex;
	gap: 20px;
	align-items: center;
}

.landing-page .title p {
	font-weight: 600;
	font-size: 2.6rem;
}

.landing-page .title .red-text {
	color: rgb(146, 0, 0);
}

/*-----------------CSS for selection boxes and when selected--------------------------*/ 

.landing-page .data-box {
	margin-top: 30px;
	background-color: #232323;
	padding: 20px;
	border-radius: 10px;
}

.landing-page .data-box-title {
	font-size: 2.25rem;
	font-weight: bolder;
	text-align: center;
}

/*--------------Agents----------------------*/ 

.landing-page .agent {
	height: 50px;
	width: 50px;
	padding: 1px;
	border-radius: 10px;
	background-color: #424242;
	box-shadow: 2px 3px 5px #1d1d1d;
	cursor: pointer;
}

.landing-page .agents-list {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.landing-page .selected-agent {
	padding: 1px;
	border-radius: 10px;
	background-color: #d1d1d1;
	box-shadow: 2px 3px 5px #1d1d1d;
	cursor: pointer;
}

/*--------------Maps--------------------*/ 

.landing-page .map {
	padding: 10px;
	border-radius: 10px;
	background-color: #424242;
	box-shadow: 2px 3px 5px #1d1d1d;
	cursor: pointer;
}

.landing-page .maps-list {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
}

.landing-page .selected-map {
	padding: 10px;
	border-radius: 10px;
	background-color: #d1d1d1;
	box-shadow: 2px 3px 5px #1d1d1d;
	color:#000000;
	cursor: pointer;
}

/*--------------Sides-------------------*/ 

.landing-page .side{
    padding: 10px;
	border-radius: 10px;
	background-color: #424242;
	box-shadow: 2px 3px 5px #1d1d1d;
	cursor: pointer;
}
.landing-page .side-list {
	margin-top: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	gap: 10px;
}

.landing-page .selected-side {
	padding: 10px;
	border-radius: 10px;
	background-color: #d1d1d1;
	box-shadow: 2px 3px 5px #1d1d1d;
	color:#000000;
	cursor: pointer;
}

.landing-page .agent img {
	height: 50px;
	width: 50px;
}


