.container{
	position: relative;
	display: flex;
}

.button{
	background-color: #161616;
}
.map-image{
	/*change dimensions if needed*/
}

.gen-spot{
	position: absolute;
	cursor: pointer;
}

.dice-spot{
	position: absolute;
	cursor: pointer;
}

.spike-image{
	position: absolute;
	width: 30px;
	cursor: pointer;
}

.lineup-info{
	display: inline-block;
	text-align: top;
	background-color: #161616;
}

.agent-image{
	position: absolute;
	width: 30px;
	cursor: pointer;
    background: rgb(255, 47, 47); 
}
