.container{
	position: relative;
	display: flex;
}

.button{
	background-color: #161616;
}
.map-image{
	/*change dimensions if needed*/
}

.spike-image{
	position: absolute;
	width: 30px;
	cursor: pointer;

	top: 175px;
	left: 330px;
}

.lineup-info{
	display: inline-block;
	text-align: top;
	background-color: #161616;
}

